html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-display: swap;
  font-style: normal;
  overflow-wrap: break-word;

  color: #131313;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}


/* section formats */

.formats_article_list {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.formats_article_list dd, .formats_article_list dt {
  display: block;
  /* align-items: flex-start;
  flex-wrap: wrap; */

  max-width: 275px;
}

.formats_article_list dd {
  position: absolute;
  text-indent: 1px;
  left: 19px;
}