html {
  box-sizing: border-box;
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-display: swap;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;

  color: #FAF4EA;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}

.btn {
  display: block;
}

/* header */
.page_header .container, .nav_header, .nav_list {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-content: center;
}

.page_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding-top: 30px;
}

.nav_header, .nav_list {
  flex-basis: 100%;
}

.nav_header {
  max-width: 860px;
}

.nav_header-list {
  margin: 0 10px;
}

.logo_link {
  color: var(--color-primary-light);
  font-size: 30px;
  text-align: start;
  text-transform: uppercase;
}

.logo_link span {
  font-weight: 600;
}

.nav_list {
  max-width: 560px;
}

.nav_link {
  color: var(--color-primary-light);
  transition: color 0.3s;
}

.nav_link:hover {
  color: var(--color-brand-normal);
}

.header_btn {
  width: 190px;
  height: 50px;

  flex-shrink: 0;

  align-self: center;

  font-size: 16px;
  font-weight: 300px;

  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;

  cursor: pointer;
}

.header_btn:hover {
  color: var(--color-brand-normal);
  background-color: var(--color-primary-light);
  transition: 0.3s ease-in-out;
}

/* section about */
  .about {
    padding: 270px 0;

    text-align: center;

    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%),url(/images/hero-section-background@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main_heading {
    margin-bottom: 0;
    font-size: 125px;
    font-weight: 800;
    line-height: 1.5;

    color: var(--color-brand-normal);
  }

  .main_heading span {
    color: var(--color-primary-light)
    }

  .main_heading:hover {
    color: var(--color-primary-light);
  }

  .main_heading>span:hover {
    color: var(--color-brand-normal);
  }

/* section advantages */

.advantages {
  padding: 16px 0;
  font-size: 20px;
  background-color: var(--color-brand-normal);
}

.advantages_list {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

/* section traditions */
/* .tradition_image {
  flex-basis: 0;

  height: auto;
  max-width: 100%;

} */

.tradition_image_large {
  flex-basis: 0;
  width: 786px;
  height: auto;
  max-width: 100%;
  border-radius: 400px 400px 0px 0px;
}


/* section formats */
.formats_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formats_list_item {
  width: 350px;
  height: 444px;

  color: #ffffff;

  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.formats_list_item:nth-of-type(1) {
  background-image: url(/images/handlebar-format.jpg);
}

.formats_list_item:nth-of-type(2) {
  background-image: url(/images/horseshoe-format.jpg);
}

.formats_list_item:nth-of-type(3) {
  background-image: url(/images/walrus-format.jpg);
}

.article_card {
  height: 444px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 24px;

  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%);

  border-radius: 16px;
}


.article_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  margin-bottom: 25px;
  max-width: 310px;

  font-size: 14px;
  font-weight: 300;
}

.article_list + .article_list {
  padding-bottom: 25px;
  margin-bottom: 0;
}

.article_list:last-of-type{
  padding-top: 25px;
  margin-bottom: 0;
}

.article_list dd, .article_list dt {
  display: block;
}

.article_list dd {
  position: absolute;
}

.article_list:nth-of-type(1) dd {
  text-indent: 1px;
  /*! left: 10px; */
}

.article_list:nth-of-type(2) dd {
  text-indent: 10px;
  left: -3px;
}

.article_list:nth-of-type(3) dd {
  text-indent: 43px;
  left: -41px;
}

.article_list:nth-of-type(4) dd {
  text-indent: 55px;
  left: 24px;
}

/* footer */
.page_footer {
  background-color: #31261A;
  background-image: url(../images/footer-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}