html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-display: swap;
  font-style: normal;
  overflow-wrap: break-word;

  color: #131313;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}

/*Кнопка наверх*/
.user-icon__up {
  display: none;

  position: fixed;
  bottom: 10px;
  right: 20px;

  cursor: pointer;
}

/* Header */

.header-nav {
  margin-right: 70px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.menu-icon {
  display: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 706px;
  flex-wrap: wrap;
}

.nav-item + .nav-item{
  margin-left: 10px;
}

.nav-link {
  display: block;

  padding: 42px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
    
  text-transform: uppercase;

  color: #131313;

  /* Inside auto layout */
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.nav-link:hover, 
.nav-link:focus, 
.nav-link:active {
  color: #FFFFFF;
  background-color: #131313;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* main */

/* section bike */
.bike__wrapper {
  display: flex;
  justify-content: space-between;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;

  text-transform: capitalize;
}

.article__inner {
  max-width: 420px;
}

.bike__subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #6F6F6F;
}

.bike__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.bike__text + .bike__text {
  margin-top: 20px;
  margin-bottom: 80px;
}

.bike__order {
  width: 418px;
  height: 78px;

  font-size: 20px;
  line-height: 80px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  text-align: center;

  color: #FFFFFF;
  background-color: #000000;
}

.bike__order:hover {
  color: #ffffff;
  background-color: #FF4040;

  transition: 0.3s ease-in-out;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__description-inner {
  display: flex;
  justify-content: space-between;
}

.description__list {
  margin: 25px auto 0 auto;

  display: flex;
  flex-direction: column-reverse;
  flex-basis: 500px;
  max-width: 500px;
  justify-content: flex-end;
  align-items: center;

  text-align: center;
}

.description__parameter {
  margin: 0;
  padding-bottom: 13px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;
}

.description__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-transform: lowercase;
}

.bike__slider .slick-dots {
  right: 0;
  top: 50px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: 0;
  
  width: 2px;
  height: 25px;

  background: #131313;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s all;
}

.slick-dots button:hover, 
.slick-active button {
  background: #FF4040;
}


/* section info */

.info {
  margin-top: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  max-width: 490px;
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.info__list li:not(:last-child) h4 {
  margin-bottom: 10px;
}

.info__item-text {
  max-width: 450px;
  margin: 0;
  padding-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

/* section characteristics */
.characteristics {
padding-top: 185px;
padding-bottom: 150px;
}

.characteristics__inner {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.characteristics__table-inner {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.table {
width: 100%;
max-width: 530px;
text-align: start;
}

.table h3 {
margin-bottom: 40px;

font-weight: 700;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
text-align: start;
}

.table .head-row {
  padding-top: 30px;
  padding-bottom: 10px;
}

.table .head-cell {
  padding-top: 3px;
  padding-bottom: 3px;

  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: start;

  color: #FFFFFF;
  background: #131313;
}

.table .row {
  display: flex;
  }

.table .cell {
padding-bottom: 5px;

width: 50%;

font-weight: 400;
font-size: 14px;
line-height: 120%;
}


.characteristics__img {
  margin-left: 60px;

  flex-basis: 560px;
  object-fit: cover;
  align-self: center;
}

/* section slider */
.slider__wrapper .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}

/* section form */
.price {
  padding-top: 50px;
  padding-bottom: 100px;
}

.price__inner {
position: relative;

  margin-bottom: 50px;
}

.form {
  max-width: 420px;
}

.form__title {
  margin: 0 0 40px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__text {
  margin-bottom: 30px;

  max-width: 300px;

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.input__inner {
  max-width: 420px;

  display: flex;
  flex-direction: column;
}

.form__input-name, 
.form__input-tel {
  padding-bottom: 10px;

  margin-bottom: 20px;

  border: none;
  border-bottom: 1px solid #131313;
}

.form__input-name::placeholder, 
.form__input-tel::placeholder,
.form__input-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #6F6F6F;
  opacity: 0.5;
}

.form__input-text {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.bike-price__inner {
  width: 220px;
  height: 112px;

  position: absolute;
  top: 21px;
  left: -77px;
  right: 0;

  text-align: center;

  background-image: url('../images/ellipse.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.form__bike-price {
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 112px;
}

.form__radio-style {
  width: 80px;
  height: 12px;

  border-radius: 30px;

  cursor: pointer;
}

.form__radio-style--grey {
  background: #6F6F6F;
  border: 1px solid #6F6F6F;
}

.form__radio-style--white {
  background: #FFFFFF;
  border: 1px solid #6F6F6F;
}

.form__radio-style--red {
  background: #FF4040;
  border: 1px solid #6F6F6F;
}

.form__bike {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__btn {
  border: none;
  cursor: pointer;
}

/* main end */

/* footer */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  color: #ffffff;
}

.legacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-transform: lowercase;
  text-decoration: underline;

  color: #FFFFFF;
}

.legacy:hover {

  color: #FF4040;
}



.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer__social {
  display: flex;
  flex-direction: row;
}

.footer__social-item {
  margin-left: 14px;
  margin-right: 14px;
}

.socials__svg {
  width: 28px;
  height: 28px;

  fill: #ffffff;
  transition-duration: 500ms;
  transition-property: fill;
}

.socials__svg:hover {
  fill:  #FF4040;
}

.footer__contacts-item {
  margin: 10px auto;

  background-repeat: no-repeat;
  background-size: 24px;
}


 .footer__contacts-item:nth-child(1) {
  background-image: url("../images/svg/phone.svg");
}

.footer__contacts-item:nth-child(2) {
  background-image: url("../images/svg/email.svg");
}

.footer__contact-link {
  padding-left: 35px;

  font-weight: 400;
  font-size: 12px;
  line-height: 24px;  
  text-transform: lowercase;
  text-align: start;

  color: #FFFFFF;
}

.footer__contact-link:hover {
  color: #FF4040;
}